:root {
    --theme-color: #2196F3;

    --text-primary: #212121;
    --text-secondary: #757575;
    --text-secondary-ligter: #fff;

    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
}

body {
    font-family: var(--primary-font), sans-serif;
    font-style: normal;
    font-weight: 500;
    background: var(--text-secondary-ligter);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

/* ======= Header styles here ======= */

.logo-first {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--theme-color);
}

.logo {
    font-family: 'Oleo Script', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-primary);
} 

.nav-links {
    font-family: inherit;
}

.nav-link_studio {
    color: var(--theme-color);
}

.nav-link {
    color: var(--text-primary);
}

.nav-link :hover,
.nav-link :focus {
    color: var(--theme-color);
}

.primary-link {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--theme-color);
}

.link-bar_phone {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
}

.business-bar {
    background: var(--text-primary);
}

.business-title_bar {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-secondary-ligter);
}

.section-button {
    background: var(--theme-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--text-secondary-ligter);
}

.attention-text_bar {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.idea-text_bar {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.punctuality-text_bar {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.task-text_bar {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.plan-text_bar {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.consultation-text_bar {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.modern-text_bar {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.significance-text_bar {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.doing-text_bar {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.crew-bar {
    background: #F5F4FA;
}

.crew-text_bar {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.design-text_item {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.design-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--text-secondary);
}

.frontend-text_item {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.frontend-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    
}

.market-text_item {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.market-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.ui-text_item {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.ui-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.adress-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary-ligter);
}

.mail-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.phone-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.search-button {
    background: var(--theme-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary-ligter);
}

.button-type_second {
    background: #F5F4FA;
    border-radius: 4px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.button-type_third {
    background: #F5F4FA;
    border-radius: 4px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.button-type_fourth {
    background: #F5F4FA;
    border-radius: 4px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);

}

.button-type_fifth {
    background: #F5F4FA;
    border-radius: 4px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.employees-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.employees-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.poster-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.poster-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.fish-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.fish-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.headphones-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.headphones-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.box-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.box-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.apple-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.apple-name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.book-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.book-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.label-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.label-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.note-text_item {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.note-text_name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.foot-box {
    background: #2F303A;
}

.logo-last {
    font-family: 'Oleo Script', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--text-secondary-ligter);
}

.adress-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary-ligter);
}

.mail-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.phone-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}