:root {
    --theme-color: #2196F3;

    --text-primary: #212121;
    --text-secondary: #757575;
    --text-secondary-ligter: #fff;

    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
}

body {
    font-family: var(--primary-font), sans-serif;
    font-style: normal;
    font-weight: 500;
    background: var(--text-secondary-ligter);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

/* ======= Header styles here ======= */ 

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-div {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.hero-box {
    box-sizing: border-box;
    border: 1px solid #ECECEC;
}

.hero-box_container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: var(--text-secondary-ligter);
}

.logo-first {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--theme-color);
}

.logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-primary);
} 

.nav-links {
    display: flex;  
    font-family: inherit;
}

.nav-links .nav-item {
    margin-right: 50px;
}

.nav-links .nav-item:last-child {
    margin-right: 0px;
}

.link-bars {
    display: flex;
    margin-left: auto;
}

.link-bars :hover,
.link-bars :focus {
    color: var(--theme-color);
}

.link-bars .link-item_two {
    margin-right: 50px;
}

.link-bars .link-item_two:last-child {
    margin-right: 0px;
}    

.nav-links .studio {
    color: var(--theme-color);
}

.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-primary);
}

.prime {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
}

.nav-link_studio_two {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-primary);
}

.nav-link_portfolio_two {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--theme-color);
}

.nav-link_contacts_two {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--text-primary);
}

.nav-link {
    color: var(--text-primary);
}

.nav-links :hover,
.nav-links :focus {
    color: var(--theme-color);
}

/* ===== body there ==== */

.business-bar {
    padding: 200px 0;
    text-align: center;
    background: var(--text-primary);
}

.business-title_bar {
    margin-top: 0;
    margin-bottom: 30px; 
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-secondary-ligter);
}

.section-button {
    display: inline-block;
    padding: 10px 32px;
    background: var(--theme-color);
    border-radius: 4px;
    min-width: 200px;
    border: transparent;
    text-align: center;

    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--text-secondary-ligter);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--text-secondary-ligter);
    margin-left: auto;
    margin-right: auto;
}

.description-bar {
    padding-top: 94px;
    padding-bottom: 94px;
} 

.details {
    display: flex;
}

.details .aim {
    width: 270px;
}

.aim-bar {
    padding: 0;
    margin: 0;
    list-style: none;
}   

.aim {
    margin-right: 30px;
}

.aim:last-child {
    margin-right: 0;
}

.attention-text_bar {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.idea-text_bar {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.punctuality-text_bar {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.task-text_bar {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.plan-text_bar {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.consultation-text_bar {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.modern-text_bar {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
}

.significance-text_bar {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.doing-items .img_one {
    width: 370px;
}

.doing-bar {
    padding-bottom: 94px;
}

.level {
    display: flex;
}

.doing-item {
    margin-right: 30px;
}

.doing-item:last-child {
    margin-right: 0;
}

.level {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.doing-text_bar {
    margin: 0;
    padding-top: 0;
    text-align: center;
    padding-bottom: 50px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.crew-bar {
    padding-bottom: 94px;
    padding-top: 94px;
    background: #F5F4FA;
}

.design-items {
    display: flex;
}

.level_two {
    padding: 0;
    margin: 0;
    list-style: none;
}

.design-items .img-two {
    width: 270px;
}

.pictures {
    display: block;
    margin-bottom: 30px;
}

.img-two {
    margin-right: 30px;
    margin-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} 

.img-two:last-child {
    margin-right: 0;
}

.crew {
    background: #F5F4FA;
} 

.crew-text_bar {
    margin: 0;
    padding-bottom: 50px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.design-text_item {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.design-text_name {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--text-secondary);
}

.frontend-text_item {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.frontend-text_name {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
   
}

.market-text_item {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.market-text_name {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.ui-text_item {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.ui-text_name {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

/* ==== footer there ==== */

.adress-items {
    display: flex;
    flex-direction: column;
} 

.adress-items {
    padding: 0;
    margin: 0;
}

.foot {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    background: #2F303A;
}

.foot-box {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.footer-logo {
    margin-top: 0;
    margin-bottom: 20px;
}    
    

.address-item {
    margin-bottom: 10px;
}

.address-item:last-child {
    margin-bottom: 0;
}

.logo-last {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--text-secondary-ligter);
}

.adress-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary-ligter);
}

.mail-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.phone-link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* ==== portf0lio body ==== */

.main-bar-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons-bar {
    padding: 0;
    margin: 0;
}

.buttons-items {
    display: flex;
    justify-content: center;
}

.buttons-items {
    padding-bottom: 50px;
}

.buttons-item {
    margin-right: 8px;
}

.buttons-item .option {
    text-align: center;
}

.buttons-items :focus,
.buttons-items :hover {
    color: var(--text-secondary-ligter);
    background: var(--theme-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: transparent;
}

.option {
    padding: 6px 22px;
    min-width: 73px;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-primary);
}

.posts {
    padding: 0;
    margin: 0;
    list-style: none;
}

.all {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    background: var(--text-secondary-ligter);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.all:nth-child(3n) {
    margin-right: 0; 
} 

.employees-bar {
    display: flex;
    flex-wrap: wrap;
}

.book-item,
.label-item,
.note-item {
    margin-bottom: 0;
}

.employees-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.employees-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.poster-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.poster-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.fish-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.fish-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.headphones-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.headphones-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.box-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.box-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.apple-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.apple-name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.book-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.book-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.label-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.label-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

.note-text_item {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary);
}

.note-text_name {
    padding-left: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}



