:root {
    --theme-color: #2196F3;

    --text-primary: #212121;
    --text-secondary: #757575;
    --text-secondary-ligter: #FFFFFF;

    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
}

body {
    font-family: var(--primary-font), sans-serif;
    background: var(--text-secondary);
}

ul {
    list-style: none;
}